Django==3.2.25 # Keeping Django 3.2.x for compatibility with django-plotly-dash
dj-database-url  # Slightly older version for better compatibility
#Async and HTTP libraries
aiohappyeyeballs
aiohttp
aiosignal
attrs
yarl
multidict
frozenlist
#Web server and ASGI
asgiref
channels
gunicorn
whitenoise
#Flask and Dash components
blinker
Flask  # Using 2.2.x for compatibility
Werkzeug  # Match with Flask 2.2.x
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
django-plotly-dash
dpd-static-support
dpd_components
itsdangerous
Jinja2
MarkupSafe
retrying
tenacity
#Security and API
certifi
charset-normalizer
idna
urllib3
requests
#Data processing
#numpy==1.24.4  # Older version for Python compatibility
pandas  # Compatible with numpy 1.24.x
python-dateutil
pytz
#Database connectors
mysql-connector-python

#Data analysis and visualization
matplotlib
pillow
plotly
scipy  # Compatible with older numpy
seaborn

#Testing
pytest-django




pymongo